{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/custom/justified-nav.css' %}">
		<title>{% block title %}MyTalent{% endblock %}</title>
	</head>

	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>-->
					<a class="navbar-brand" href="{% url 'home' %}">MyTalent</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						{% if request.user.is_authenticated %}
							<li><a href="{% url 'logout' %}">Logout</a></li>
							<li><a href="/accounts/profile/{{request.user.id}}">Profile</a></li>
						{% else %}
							<li><a href="{% url 'login' %}">Login</a></li>
						{% endif %}
					</ul>
				</div><!--/.nav-collapse -->
			</div><!--/.container-fluid -->
			<div class="content">
				<hr />
				{% block content %}{% endblock %}
			</div>
		</nav>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="{% static 'jquery/jquery.min.js' %}"></script>
		<script>
			var images = ['bg0.jpg', 'bg1.jpg', 'bg2.jpg', 'bg3.jpg', 'bg4.jpg', 'bg5.jpg', 'bg6.jpg', 'bg7.jpg', 'bg8.jpg', 'bg9.jpg'];
			$('body').css({'background-image': 'url("/static/pics/backgrounds/' + images[Math.floor(Math.random() * images.length)] + '")'});
		</script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	</body>
</html>
