{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="row">
		<h2>MyTalent connects freelancers and employers everywhere!</h2>
		<div class="col-xs-4">
			{% if request.user.is_authenticated %}
				<h4><a href="{% url 'status' %}">Post a status</a></h4>
			{% endif %}
		</div>
		<div class="col-xs-8">
			{% if object_list is None %}
				No Statuses
			{% endif %}
			{% for status in object_list %}
				<div>
					<h2><a href="/accounts/profile/{{status.user_id}}">{{status.author}}</a></h2>
					<h4>{{status.text}}</h4>
					<p>{{status.created}}</p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}