{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-offset-4 col-xs-4">
			<form method="post">{% csrf_token %}

				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" class="form-control" id="username" name="username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="password" name="password" placeholder="Password">
				</div>

				<button type="submit" class="btn btn-primary btn-block">Login</button>
				<a href="{% url 'signup' %}">Sign up for an account</a>

			</form>
			</div>
	</div>
{% endblock %}