{% extends 'base.html' %}

{% block title %}Post a Status{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-4">
			<h3>Post a Status:</h3>
			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Save</button>
			</form>
		</div>
	</div>
{% endblock %}