{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<p>Username: {{object.user.username}}</p>
			<p>Name: {{object.first_name}} {{object.last_name}}</p>
			<p>Profession: {{object.profession}}</p>
		</div>
	</div>
	<a href="/accounts/profile/{{request.user.id}}/edit">Edit Profile</a>
{% endblock %}